* {
    border: 0;
    margin: 0;
}
html{
    font-size: 10px;
}
.box-playing,
.lyric-content {
    margin-left: 50px;
    max-width: 840px;
}

.song_lists {
    max-width: 840px;
    display: flex;
}
.song_list {
    max-width: auto;
    display: flex;
    justify-content: space-between;
}
.song_lists-item{
    display: inline;
}
.song_lists span{
    font-size: 20px;
}


.infor-songs {
    max-width: 840px;
}

.item {
    margin-left: 0;
}

.box-playing a {
    text-decoration: none;
    color: black;
    opacity: 0.8;
    font-size: 20px;
}

h1 {
    display: inline;
}

span {
    font-size: 32px;
}

.namesong {
    font-size: 32px;
}

.mainsong {
    max-width: 840px;
    height: auto;
}

.mainsong .songvideo {
    max-width: auto;
}

video {
    max-width: 840px;
}

.actions {
    padding: auto;
    max-width: 840px;
    height: 50px;
}

.action {
    display: flex;
    float: right;
    padding: 10px;
    margin-right: 0px;
}

.fa-regular {
    size: 30px;
    display: flex;
    vertical-align: middle;
}

.action a {
    -webkit-transition: .5s all;
    -webkit-transition-delay: 5s;
    -moz-transition: .5s all;
    -moz-transition-delay: 5s;
    -ms-transition: .5s all;
    -ms-transition-delay: 5s;
    -o-transition: .5s all;
    -o-transition-delay: 5s;
    transition: .5s all;
    transition-delay: 5s;
}

.action a:hover {
    background: #5AC900;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

.action>i {
    vertical-align: middle;
}



.lyric-content {
    display: grid;
    margin-left: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.lyric {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.header {
    display: grid;
    grid-template-columns: 85% 15%;
    grid-template-rows: 100px;
}

.left {
    display: grid;
    grid-template-rows: 50px 50px;
    grid-template-columns: 100%;
}

.right {
    position: relative;
}

.copy_btn {
    font-size: 14px;
    border-radius: 15px;
    width: 70px;
    height: 40px;
    border: 1px solid;
    position: absolute;
    top: 0;
    right: 0;
}

hr {
    color: gray;
    height: 1px;
}

.content {
    margin-top: 50px;
    font-size: 20px;
}

.content:hover {
    font-size: 20px;
    max-height: 150px;
}